{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>{% blocktrans %}You're receiving this email because you requested a password reset for your account.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% blocktrans %}Reset Password{% endblocktrans %}</a></p>
    <p>{% blocktrans %}If you didn't request a password reset, please ignore this email.{% endblocktrans %}</p>
</body>
</html>
